name: PR markdownlint

on: [pull_request]

jobs:
  markdownlint:
    name: markdown lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: '**/*.md'
